html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto, sans-serif;
    background-image: url(/src/img/verde_claro.jpg);
    background-size: cover;
    background-position: center;
}


.cont{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    grid-template-areas: 
        ". . ."
        ". login ."
        ". . . "
}

.login{
    border-radius: 1%;
    
    grid-area: login;
    display: grid;
    grid-template-columns: 2fr 2fr ;
    grid-template-areas: 
        "img inputs";
}
.img {
  grid-area: img;
  width: 100%;
  height: 100%;
  max-height: 700px;
  position: relative;
}

.img img{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
    transition: opacity 800ms;
    border-top-left-radius: 2%;
    border-bottom-left-radius: 2%;
}

.selected{
  
  
}
.img img.selected{
    opacity: 1;
}


.inputs{
    border-top-right-radius: 2%;
    border-bottom-right-radius: 2%;
    background-color: white;
    grid-area: inputs;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr ;
    grid-template-rows: 1fr 0.2fr 0.1fr 1fr 0.2fr 0.5fr 0.5fr ;
        grid-template-areas: 
            ". logo_img ."
        ". icons ."
        ". . . "
        ". form ." 
        ". error ."
        ". button . "
        ". info ."  ;
    justify-content: space-around;
}

.info{
    grid-area:info;
    border: 1px solid green;
    border-bottom: none !important;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    display: grid;

    grid-template-columns: 1fr 3fr 1fr; 

    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
    "icontelefone numeroTelefone completeFirst"
    "incoMovel numeroMovel completeTwo"
    "incoEmail email ." ;
}

.completeFirst{
    grid-area: completeFirst;
    border-bottom: 1px solid green;
}
.completeTwo{
    grid-area: completeTwo;
    border-bottom: 1px solid green;
}
.incoEmail{
    grid-area: incoEmail;
    text-align: center;
}
.email{
    grid-area: email;
    align-self: center;
    
}

.incoMovel{
    grid-area: incoMovel;
    text-align: center;
    border-bottom: 1px solid green;
}

.numeroMovel{
    grid-area:numeroMovel;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid green;
}

.numeroTelefone{
    border-bottom: 1px solid green;

    grid-area: numeroTelefone;
    width: 100%;
    text-align: center;
}
.icontelefone{
    border-bottom: 1px solid green;
    grid-area: icontelefone;
    width: 100%;
    text-align: center;
   
   
}

.iconcontato{
    width: 35px;
    align-self: center;
  
}
.button{
    grid-area: button;
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: ". centerButton . ";
}
.centerButton{
    width: 100%;
    grid-area: centerButton;

}
.stylebutton{
    border-radius: 5px;
    padding: 10px 55px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    color: white;
    background: #274533;
    transition:  0.5s;
    position: relative;
    overflow: hidden;
    border: none;
}

.stylebutton:hover{
    color: #274533;
    background: white;
    border: 1px solid green;
}


.form{
    grid-area: form;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "iconemp inemp infoemp"
      "iconuser inuser infouser"
      "iconpass inpass infopass"
}

/* Form */
.infoemp{
    grid-area: infoemp;
    width: 50%;
    align-self: center;
    justify-self:center;
}

.infouser{
    grid-area: infouser;
    width: 50%;
    align-self: center;
    justify-self:center;

}


.infopass{
    grid-area: infopass;
    width: 50%;
    align-self: center;
    justify-self:center;

}

.infosize{
    width: 25px;
    
}

.inemp{
    grid-area: inemp;
    height: 40%;
    width: 92%;
    align-self: center;
    justify-self: center;
}

.iconemp{
    grid-area: iconemp;
}
.iconuser{
    grid-area: iconuser;
}

.iconpass{
    grid-area: iconpass;
}
.inpass{
    grid-area: inpass;
    height: 40%;
    width: 92%;
    align-self: center;
    justify-self: center;
}
.inuser{
    grid-area: inuser;
    height: 40%;
    width: 92%;
    align-self: center ;
    justify-self: center;
}

.formIcons{
    width: 55px;
}


.logo_img{
    justify-self: center !important;
    align-self: center;
    width: 100%;
    height: 50%;
    grid-area: logo_img;
}
#logo_reso {
    width: 100%;  
}
.icons{
    grid-area: icons;
    align-self: center;
}
.iconsI{
    grid-area: iconsI;
    text-align: center;
}
.styleicon{
    width: 10%;
}

a{
    color: white;
    background: none;
}

.css_input{
    
    font-size: 16px;
    border-left: none;
    border-radius: none;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid green;
    padding-top: 10px;
    width: 100%;
}

.texto{
    color: #274533;
    font-size: 16px;
    margin: 0;
    padding-top: 8px;
    white-space: nowrap;
}

